<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"/>
    <title>About - Lego Collection</title>
</head>
<body>
    <div class="navbar bg-purple-900">
        <div class="flex-1">
            <a href="/" class="text-white hover:text-gray-400">Lego Collection</a>
        </div>
        <div class="navbar-center hidden sm:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/about" class="active">About</a></li>
                <li class="w-32">
                    <details class="open:ring-1 ring-gray-300 ring-opacity-50 rounded">
                        <summary class="cursor-pointer text-white hover:text-gray-400">
                            Theme
                        </summary>
                        <ul class="dropdown-content menu p-2 bg-purple-700 right-0">
                            <li>
                                <a href="/lego/sets?theme=Books">Books</a>
                            </li>
                            <li>
                                <a href="/lego/sets?theme=Early Creator">Early Creator</a>
                            </li>
                            <li>
                                <a href="/lego/sets?theme=Basic Set">Basic Set</a>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>

    <div class="container mx-auto mt-4 p-4">
        <div class="hero bg-base-200 p-4 rounded">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-4xl font-bold">About</h1>
                    <p class="py-6">All about me and LEGO Brickmaster Series.</p>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
            <div>
                <img src="/images/sheed.jpg" alt="A representation of you" class="rounded-lg shadow-lg">
            </div>
            <div class="flex flex-col justify-center">
                <p class="text-lg">
                    Hello! I'm a passionate Lego builder who loves diving into the intricate world of the LEGO Brickmaster Series. Whether I'm exploring the challenges of Technic sets or crafting my unique creations, every building session is a thrilling adventure. The diverse and challenging sets in the Brickmaster Series inspire my creativity, offering a perfect blend of precision engineering and artistic design. Each set becomes a new opportunity to push my building skills to new heights. Alongside my love for Legos, I'm pursuing an Engineering degree, where I apply design and construction principles in a professional setting. The LEGO Brickmaster Series continues to shape my understanding of creative engineering, making each building session a uniquely rewarding endeavor. Join me on this exciting journey through the Brickmaster Series, where every brick tells a story of innovation, craftsmanship, and endless possibilities. Let's build together and create something extraordinary!
                </p>
            </div>
        </div>
    </div>
</body>
</html>
