<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Lego Collection</title>
</head>
<body>
    <div class="navbar bg-purple-900">
        <div class="flex-1">
            <a href="/" class="text-white hover:text-gray-400">Lego Collection</a>
        </div>
        <div class="navbar-center hidden sm:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/about" class="text-white hover:text-gray-400">About</a></li>
                <li class="w-32">
                    <details class="open:ring-1 ring-gray-300 ring-opacity-50 rounded">
                        <summary class="cursor-pointer text-white hover:text-gray-400">
                            Theme
                        </summary>
                        <ul class="dropdown-content menu p-2 bg-purple-700 right-0">
                            <li>
                                <a href="/lego/sets?theme=Books">Books</a>
                            </li>
                            <li>
                                <a href="/lego/sets?theme=Early Creator">Early Creator</a>
                            </li>
                            <li>
                                <a href="/lego/sets?theme=Basic Set">Basic Set</a>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>

    <div class="container mt-4 mr-8 mb-8 mx-auto">
        <div class="hero bg-base-200 p-4 rounded">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="mb-5 text-5xl font-bold">Welcome to the Lego Collection</h1>
                    <p class="mb-5">
                        Dive into the world of creativity and imagination with our diverse Lego sets. Start your next adventure here!
                    </p>
                    <a href="/lego/sets" class="btn btn-primary">Explore Sets</a>
                </div>
            </div>
        </div>

        <div class="grid md:grid-cols-3 gap-4 pt-4">
            <div class="card w-full bg-base-100 shadow-xl">
                <figure>
                    <img src="https://cdn.rebrickable.com/media/sets/0756672805-1.jpg" alt="Lego Set">
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Pirates: Brickmaster</h2>
                    <p>Published by DK Publishing (Dorling Kindersley) as boxed hardcover on August 31, 2009. Part of the LEGO Brickmaster Series, the book contains 48 pages.</p>
                    <a href="/lego/sets/0756672805-1" class="btn btn-secondary">View Set</a>
                </div>
            </div>

            <div class="card w-full bg-base-100 shadow-xl">
                <figure>
                    <img src="https://cdn.rebrickable.com/media/sets/0756668530-1.jpg" alt="Lego Set">
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Atlantis: Brickmaster</h2>
                    <p>Published by DK Publishing (Dorling Kindersley) as boxed hardcover on August 16, 2010. Part of the LEGO Brickmaster Series, the book contains 48 pages</p>
                    <a href="/lego/sets/0756668530-1" class="btn btn-secondary">View Set</a>
                </div>
            </div>

            <div class="card w-full bg-base-100 shadow-xl">
                <figure>
                    <img src="https://cdn.rebrickable.com/media/sets/0756682762-1.jpg" alt="Lego Set">
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Ninjago: Brickmaster</h2>
                    <p>Published by DK Publishing (Dorling Kindersley) as hardcover on August 1, 2011. Part of the LEGO Brickmaster Series, the book contains 48 pages.</p>
                    <a href="/lego/sets/0756682762-1" class="btn btn-secondary">View Set</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>